Src/Common/SaLibraries/SaRiff/SaRiff80.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.sil.org/computing/schemas/asap/sa/SaDoc-RIFF8.0/0.0" xmlns:s="http://www.sil.org/computing/schemas/asap/sa/SaDoc-RIFF8.0/0.0">
  <!--
    This is the schema for the storing Speech Analyzer Riff documents
    this is a preliminary document
  -->
  <xs:element name="SaRiff80">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:FileReference"/>
        <xs:element minOccurs="0" ref="s:AudioEncodingInfo"/>
        <xs:element minOccurs="0" ref="s:ReferenceInfo"/>
        <xs:element minOccurs="0" ref="s:LanguageInfo"/>
        <xs:element minOccurs="0" ref="s:SpeakerInfo"/>
        <xs:element minOccurs="0" ref="s:Annotation"/>
        <xs:element minOccurs="0" ref="s:MusicInfo"/>
        <xs:element minOccurs="0" ref="s:DatabaseInfo"/>
        <xs:element minOccurs="0" ref="s:Preferences"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:Name"/>
        <xs:element minOccurs="0" ref="s:DriveVolume"/>
        <xs:element minOccurs="0" ref="s:DriveType"/>
        <xs:element ref="s:Hash"/>
        <xs:element ref="s:HashAlg"/>
        <xs:element ref="s:Length"/>
        <xs:element ref="s:Modified"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>Recording Universal Resource Locator</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriveVolume" type="xs:string"/>
  <xs:element name="DriveType" type="xs:string"/>
  <xs:element name="Hash" type="xs:string"/>
  <xs:element name="HashAlg" type="xs:string"/>
  <xs:element name="Length" type="xs:long"/>
  <xs:element name="Modified" type="xs:dateTime"/>
  <xs:element name="AudioEncodingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:Channels"/>
        <xs:element ref="s:SamplesPerSecond"/>
        <xs:element ref="s:Bandwidth"/>
        <xs:element ref="s:BitsPerSample"/>
        <xs:element ref="s:EffectiveBits"/>
        <xs:element ref="s:SampleCount"/>
        <xs:element minOccurs="0" ref="s:SignalRange"/>
        <xs:element minOccurs="0" ref="s:SampleFlags"/>
        <xs:element minOccurs="0" ref="s:RecordingInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Channels" type="xs:int">
    <xs:annotation>
      <xs:documentation>Number of Channels (1=mono, 2=stereo)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SamplesPerSecond" type="xs:int">
    <xs:annotation>
      <xs:documentation>Samples Per Second</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Bandwidth" type="xs:int"/>
  <xs:element name="BitsPerSample" type="xs:int">
    <xs:annotation>
      <xs:documentation>Bits Per Sample</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EffectiveBits" type="xs:int">
    <xs:annotation>
      <xs:documentation>Effective Bits Per Sample</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SampleCount" type="xs:long">
    <xs:annotation>
      <xs:documentation>Number of samples</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SignalRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:Max"/>
        <xs:element ref="s:Min"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Max" type="xs:int"/>
  <xs:element name="Min" type="xs:int"/>
  <xs:element name="SampleFlags">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:SampleWordSizeConverted"/>
        <xs:element ref="s:SampleRateConverted"/>
        <xs:element ref="s:SampleDataCompressed"/>
        <xs:element ref="s:SampleDataLossy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SampleWordSizeConverted" type="xs:boolean"/>
  <xs:element name="SampleRateConverted" type="xs:boolean"/>
  <xs:element name="SampleDataCompressed" type="xs:boolean"/>
  <xs:element name="SampleDataLossy" type="xs:boolean"/>
  <xs:element name="RecordingInfo">
    <xs:annotation>
      <xs:documentation>Recording Encoding Info</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:HighpassFilter"/>
        <xs:element ref="s:RecordingFormat"/>
        <xs:element ref="s:Bandwidth"/>
        <xs:element ref="s:RecordingTime"/>
        <xs:element ref="s:BitsPerSample"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HighpassFilter">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="Unknown"/>
        <xs:enumeration value="None"/>
        <xs:enumeration value="HP70Hz"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RecordingFormat">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="Unknown"/>
        <xs:enumeration value="UTT"/>
        <xs:enumeration value="WAV"/>
        <xs:enumeration value="MAC"/>
        <xs:enumeration value="TIMIT"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RecordingTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Recoridng Time Stamp</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReferenceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="s:Description"/>
        <xs:element minOccurs="0" ref="s:FreeTranslation"/>
        <xs:element minOccurs="0" ref="s:NoteBook"/>
        <xs:element minOccurs="0" ref="s:Transcriber"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Description" type="xs:string">
    <xs:annotation>
      <xs:documentation>Description</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FreeTranslation" type="xs:string">
    <xs:annotation>
      <xs:documentation>Free Translation</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NoteBook" type="xs:string">
    <xs:annotation>
      <xs:documentation>Notebook Reference</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Transcriber" type="xs:string">
    <xs:annotation>
      <xs:documentation>Transcriber</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LanguageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="s:EthnologueID"/>
        <xs:element minOccurs="0" ref="s:Family"/>
        <xs:element minOccurs="0" ref="s:Language"/>
        <xs:element minOccurs="0" ref="s:Dialect"/>
        <xs:element minOccurs="0" ref="s:Country"/>
        <xs:element minOccurs="0" ref="s:Region"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EthnologueID">
    <xs:annotation>
      <xs:documentation>Ethnologue ID</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Family" type="xs:string">
    <xs:annotation>
      <xs:documentation>Language Family</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Language" type="xs:string">
    <xs:annotation>
      <xs:documentation>Languange</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dialect" type="xs:string">
    <xs:annotation>
      <xs:documentation>Dialect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Country" type="xs:string">
    <xs:annotation>
      <xs:documentation>Country </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Region" type="xs:string">
    <xs:annotation>
      <xs:documentation>Region</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpeakerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="s:Age"/>
        <xs:element minOccurs="0" ref="s:Gender"/>
        <xs:element minOccurs="0" ref="s:SpeakerName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Age">
    <xs:annotation>
      <xs:documentation>Age Classification</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="Unknown"/>
        <xs:enumeration value="Adult"/>
        <xs:enumeration value="Child"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Gender">
    <xs:annotation>
      <xs:documentation>Gender</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="Unknown"/>
        <xs:enumeration value="Male"/>
        <xs:enumeration value="Female"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SpeakerName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Speaker</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Annotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Phonemic">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Phonetic">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Tone">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Orthographic">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Gloss">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PartOfSpeech">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Reference">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Phrase1">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Phrase2">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Phrase3">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Phrase4">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Segment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Segment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:Content"/>
      </xs:sequence>
      <xs:attribute name="Begin" use="required">
        <xs:annotation>
          <xs:documentation>Segment begin time in seconds</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="End" use="required">
        <xs:annotation>
          <xs:documentation>Segment end time in seconds</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Content">
    <xs:annotation>
      <xs:documentation>Each Segment must have a string with length at least 1 character</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatabaseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="s:ApplicationName"/>
        <xs:element minOccurs="0" ref="s:ApplicationTitle"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Registration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of owning Application</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ApplicationTitle" type="xs:string">
    <xs:annotation>
      <xs:documentation>Window title of owning Application</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Registration">
    <xs:annotation>
      <xs:documentation>Database registrations</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:DatabaseName"/>
        <xs:element minOccurs="0" ref="s:RegistrationTimeStamp"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:Key"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatabaseName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of Database</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegistrationTimeStamp" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>DateTime of registration</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Key" type="xs:string">
    <xs:annotation>
      <xs:documentation>Application specific key string</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MusicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="s:MusicScore"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MusicScore" type="xs:string">
    <xs:annotation>
      <xs:documentation>Music Score</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Preferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="s:Fonts"/>
        <xs:element minOccurs="0" ref="s:GrapplCustomPitch"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fonts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Phonemic" type="xs:string">
          <xs:annotation>
            <xs:documentation>Phonemic Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Phonetic" type="xs:string">
          <xs:annotation>
            <xs:documentation>Phonetic Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Tone" type="xs:string">
          <xs:annotation>
            <xs:documentation>Tone Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Orthographic" type="xs:string">
          <xs:annotation>
            <xs:documentation>Orthographic Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Gloss" type="xs:string">
          <xs:annotation>
            <xs:documentation>Gloss Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PartOfSpeech" type="xs:string">
          <xs:annotation>
            <xs:documentation>Part of Speech Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Reference" type="xs:string">
          <xs:annotation>
            <xs:documentation>Reference Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Phrase1" type="xs:string">
          <xs:annotation>
            <xs:documentation>Phrase1 Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Phrase2" type="xs:string">
          <xs:annotation>
            <xs:documentation>Phrase2 Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Phrase3" type="xs:string">
          <xs:annotation>
            <xs:documentation>Phrase3 Font</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Phrase4" type="xs:string">
          <xs:annotation>
            <xs:documentation>Phrase4</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrapplCustomPitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:CalcFreqLow"/>
        <xs:element ref="s:CalcFreqHigh"/>
        <xs:element ref="s:CalcVoicingThd"/>
        <xs:element ref="s:CalcPercntChng"/>
        <xs:element ref="s:CalcGrpSize"/>
        <xs:element ref="s:CalcIntrpGap"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcFreqLow" type="xs:int"/>
  <xs:element name="CalcFreqHigh" type="xs:int"/>
  <xs:element name="CalcVoicingThd" type="xs:int"/>
  <xs:element name="CalcPercntChng" type="xs:int"/>
  <xs:element name="CalcGrpSize" type="xs:int"/>
  <xs:element name="CalcIntrpGap" type="xs:int"/>
</xs:schema>
